
## <summary>policy for compchain</summary>


########################################
## <summary>
##	Transition to compchain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`compchain_domtrans',`
	gen_require(`
		type compchain_t, compchain_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, compchain_exec_t, compchain_t)
')


########################################
## <summary>
##	Execute compchain server in the compchain domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`compchain_initrc_domtrans',`
	gen_require(`
		type compchain_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, compchain_initrc_exec_t)
')


########################################
## <summary>
##	Search compchain lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`compchain_search_lib',`
	gen_require(`
		type compchain_var_lib_t;
	')

	allow $1 compchain_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read compchain lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`compchain_read_lib_files',`
	gen_require(`
		type compchain_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, compchain_var_lib_t, compchain_var_lib_t)
')

########################################
## <summary>
##	Manage compchain lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`compchain_manage_lib_files',`
	gen_require(`
		type compchain_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, compchain_var_lib_t, compchain_var_lib_t)
')

########################################
## <summary>
##	Manage compchain lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`compchain_manage_lib_dirs',`
	gen_require(`
		type compchain_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, compchain_var_lib_t, compchain_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a compchain environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`compchain_admin',`
	gen_require(`
		type compchain_t;
		type compchain_initrc_exec_t;
		type compchain_var_lib_t;
	')

	allow $1 compchain_t:process { ptrace signal_perms };
	ps_process_pattern($1, compchain_t)

	compchain_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 compchain_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, compchain_var_lib_t)

')

