# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit compchaind.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/compchain/compchain.conf

[Unit]
Description=Compchain daemon
After=network.target

[Service]
ExecStart=/usr/bin/compchaind -daemon -conf=/etc/compchain/compchain.conf -pid=/run/compchaind/compchaind.pid
# Creates /run/compchaind owned by compchain
RuntimeDirectory=compchaind
User=compchain
Type=forking
PIDFile=/run/compchaind/compchaind.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
